@media (width > 820px){
    /*When the browser width reaches this size, 
    the main content is pushed 295 units away fron the left*/

    .main-section{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 295px;
        flex-wrap: wrap;
        width: 1200px;
        z-index: -1;
    }
    
}


#main-doc{
    display: flex;
    flex-direction:column;
    color: rgb(77, 78, 83);
    font-family: "Open Sans", Arial, sans-serif;
}

.main-section{
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
}
.main-section p{
    padding-left: 3rem;
    max-width: 1100px;
    line-height: 1.6rem;
    margin-bottom: 0;
}

.main-section header:not(#Introduction){
    font-weight: 500;
    font-size: 1.8rem;
    color: black;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#Introduction{
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: black;
    padding-left: 2rem;
}

.main-section ul{
    list-style-position: outside;
}

.main-section li{
    max-width: 1050px;
    margin-left: 5rem;
    line-height: 1.4rem;
    padding-bottom: 1rem;
}

.main-section code{
    margin-left: 4rem;
    max-width: 470px;
    line-height: 1.5rem;
    background-color: rgb(245,245,245);
    font-size: 0.8rem;
    padding: 1rem 0;
    padding-left: 0.7rem;
    padding-right: 40rem;
    margin-top: 1rem;
}