@media (min-width: 1024px){
    #main-doc{
        height: 3000px;
        display: flex;
        /*background-color: rgb(200, 200, 200);*/
        flex-direction: column;
        position: relative;
        top: 0;
        bottom: 0;
        left: 300px;
    }
}

.main-container{
    color: rgb(77, 78, 83);
    font-family: "Open Sans", Arial, sans-serif;
}

.main-section p{
    padding-left: 1rem;
    max-width: 1200px;
    line-height: 1.6rem;
}

.main-section header{
    font-weight: 500;
    font-size: 1.8rem;
    color: black;
}

.main-section header:first-of-type{
    margin-top: 2rem;
}

.main-section li{
    max-width: 1000px;
    padding-left: 4rem;
    margin-bottom: 1.6rem;
    line-height: 1.6rem;
}